:root{
  --md-primary-fg-color: #282a35;
  --md-typeset-a-color: #005ac6;
  --md-text-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.md-nav{
  font-size: 15px;
  margin-top: 5px;
}

.md-typeset h2{
  font-weight: normal;
}

.md-typeset table:not([class]) {
  font-size:.71rem;
}

.md-typeset h1{
  font-weight: normal;
}
