:root{
  --md-primary-fg-color: #333333;
  --md-typeset-a-color: #005ac6;
}

.md-nav{
  font-size: 15px;
  margin-top: 5px;
}

.md-typeset h2{
  font-weight: normal;
}

.md-typeset table:not([class]) {
  font-size:.71rem;
}

.md-typeset h1{
  font-weight: normal;
}
